<html>
<head>
<link rel="stylesheet" href="/static/starWars.css" />

</head>
<title>Star Wars</title>
<div class="fade"></div>
<section class="star-wars">

  <div class="crawl">
    
    <div class="title">
      <p>Star Wars</p>
      <h1>The <font color="red">Sith</font> Code</h1>
    </div>

    <p>Peace is a lie,</p> 
    <p><font color="red">there is only passion.</font></p>  
    <p>Through passion,</p> 
    <p><font color="red">I gain strength.</font></p>  
    <p>Through strength,</p> 
    <p><font color="red">I gain power.</font></p>  
    <p>Through power,</p> 
    <p><font color="red">I gain victory.</font></p>  
    <p>Through victory, 
    <p>my chains are broken.</p>  
    <p><font color="red">The Force shall free me.</font></p>


  </div>

</section>



</html>